body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

#trivia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#status-image-container {
  position: relative;
  overflow: hidden; /* Add this line */
  padding-bottom: 65px; /* Add this line */
}

#status-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block; /* Add this line */
  margin-bottom: -100px; /* Add this line */
}


#correct-status-code {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.choice-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

textarea {
  width: 100%;
  resize: vertical;
}

button {
  align-self: center;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

/* Add the following CSS rule after the button:focus rule */
#roll-again {
  background-color: #f0ad4e;
  margin-left: 10px;
}

#roll-again:hover {
  background-color: #ec971f;
}
